.dashboard-affiliate-binary-form-container {
  label {
    color: #757575;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;

    em {
      font-size: 13px;
      margin-bottom: 0;
    }

    &.top-label {
      font-size: 12px;
      text-transform: uppercase;
      color: #305be5;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
  }

  .form-group {
    margin-bottom: 20px;

    input.form-control, .value.form-control {
      background: #f5f5f5;
      border: 0;
      box-shadow: none;
      height: 40px;
      padding: 0 15px;
      color: #212121;
      letter-spacing: 1px;

      @include box-shadow(none);

      @include border-radius(5px);
    }

    .value.form-control {
      background: #e1e1e1;
      color: rgb(197, 197, 197);

      @include flex;

      @include align-items(center);
    }

    .dropdown-toggle {
      background: #f5f5f5;
      border: 0;
      height: 40px;
      color: #757575;
      padding: 0 15px;
    }

    .bootstrap-select.btn-group .dropdown-menu {
      padding: 0;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      height: 40px;
      color: #fff;
      background-color: #480459;

      @include flex;

      @include align-items(center);
    }

    .dropdown-menu > li > a {
      padding: 0 20px;
      height: 40px;

      @include flex;

      @include align-items(center);
    }

    &.has-error {
      .control-label {
        color: #757575;
      }
    }
  }

  .actions {
    display: inline-block;
    width: 100%;

    input[type='submit'] {
      background: #305be5;
      letter-spacing: 1px;
      color: #fff;
      height: 40px;
      width: 155px;
      margin: 0 auto;
    }
  }

  .simple_form {
    .invalid-feedback {
      top: 100%;
    }

    .form-group {
      .form-control {
        height: 100%;
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}