.network-wrap {
  padding-bottom: 50px;
  overflow: hidden;
  margin-top: 30px; }

.network {
  width: 100%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  transition: all 0.5s;
  width: 80%; }

.network > .content {
  margin: 0 auto;
  display: table;
  padding: 20px; }

.network > .dashboard-marketing-binary-item-container {
  min-width: 100%; }

.network .tree-root .content-wrap a.remove-child-node {
  display: none; }

.network .content-wrap {
  display: inline-block;
  position: relative; }

.network .content-wrap .count-left {
  min-width: 160px;
  position: absolute;
  margin: 0;
  right: 96px;
  top: 6px;
  text-align: center;
  right: 50px;
  top: 6px;
  text-align: center;
  min-width: 90px;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300; }

.network .content-wrap .count-left label {
  margin: 0;
  font-size: 15px;
  display: block;
  color: #304FFE; }

.network .content-wrap .item {
  float: left; }

.network .content-wrap .item .hover {
  display: none; }

.network .content-wrap .count-right {
  min-width: 160px;
  position: absolute;
  margin: 0;
  left: 96px;
  top: 6px;
  text-align: center;
  left: 50px;
  top: 6px;
  text-align: center;
  min-width: 90px;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300; }

.network .content-wrap .count-right label {
  margin: 0;
  font-size: 15px;
  display: block;
  color: #304FFE; }

.network .content-wrap a.remove-child-node {
  width: 25px;
  height: 25px;
  background-color: #305be5;
  color: #fff;
  position: absolute;
  top: -34px;
  left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 1, 1, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 1, 1, 0.1); }

.network .content-wrap a.remove-child-node:after {
  content: "";
  width: 9px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.network .item {
  display: inline-block;
  position: relative; }

.network .item .avatar {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.network .item .avatar img {
  max-width: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  max-width: 32px; }

.network .item .avatar.hover {
  display: none; }

.network .item .name {
  width: 105px;
  height: 28px;
  background-color: transparent;
  color: #304FFE;
  font-size: 10px;
  font-weight: 300;
  position: absolute;
  left: 50%;
  bottom: -24px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  padding: 0 5px;
  line-height: 24px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: capitalize; }

.network .item a.load-more {
  width: 25px;
  height: 25px;
  background-color: #305be5;
  color: #fff;
  position: absolute;
  bottom: -45px;
  left: 50%;
  display: none;
  line-height: 15px;
  text-decoration: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 1, 1, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 1, 1, 0.1); }

.network .children {
  display: inline-block;
  width: 100%; }

.network .children .node-child {
  display: inline-block;
  width: 50%; }

.network .children .node-child.node-item-left {
  float: left; }

.network .children .node-child.node-item-right {
  float: right; }

.network .children .children .item .avatar {
  width: 60px;
  height: 60px; }

.network .children .children .item .avatar img {
  max-width: 60px;
  max-width: 32px; }

.network .children .children .item .avatar.hover {
  display: none; }

.network .children .children .children .item .avatar {
  width: 60px;
  height: 60px; }

.network .children .children .children .item .avatar img {
  max-width: 60px;
  max-width: 32px; }

.network .children .children .children .item .name {
  bottom: -24px; }

.network .children .children .children .item a.load-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.network .node-item-root .content-wrap .item {
  margin-bottom: 25px; }

.network .node-item-root .item {
  margin-bottom: 26px;
  height: 60px;
  width: 100%; }

.network .node-item-root .item:after {
  content: "";
  height: 14px;
  width: 2px;
  background-color: #304ffe;
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.network .node-item-root.last .item:after {
  display: none; }

.network .node-item-root.empty .item .name {
  display: none; }

.network .node-item-root.visited .item {
  visibility: hidden; }

.network .node-item-root.visited:after {
  width: 2px;
  height: 147px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #304ffe;
  content: "";
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.network .node-child {
  position: relative;
  padding-top: 20px; }

.network .node-child .item:before {
  content: "";
  height: 20px;
  width: 2px;
  background-color: #304ffe;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.network .node-item-left:after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #304ffe;
  position: absolute;
  top: 0;
  right: 0; }

.network .node-item-right:after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #304ffe;
  position: absolute;
  top: 0;
  left: 0; }

.network .node-append {
  padding-top: 70px;
  position: relative; }

.network .node-append .line {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #304ffe;
  top: 20px; }

.network .node-append > .node-item-root {
  position: relative; }

.network .node-append > .node-item-root:before {
  content: "";
  width: 2px;
  height: 50px;
  background-color: #304ffe;
  left: 50%;
  top: -50px;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.tooltipstered {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
