.invest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0 1.4rem 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #455074;
  margin-bottom: 1.1rem; }
  .invest__title {
    margin-right: 8%; }
  .invest-input {
    text-align: center;
    position: relative;
    width: 91px;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
    margin-right: 6%; }
    .invest-input::before {
      position: absolute;
      bottom: 0;
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border: 1px solid #304FFE;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
    .invest-input__item {
      width: 100%;
      text-align: center;
      padding-bottom: 0.7rem;
      background-color: transparent; }
  .invest__variable {
    margin-right: 6.5%; }
  .invest-info {
    font-size: 10px;
    color: rgba(145, 155, 176, 0.5);
    line-height: 1rem;
    -webkit-transform: translateY(13%);
        -ms-transform: translateY(13%);
            transform: translateY(13%);
    margin-right: 3.5%; }
    .invest-info__text_blue {
      color: #304FFE; }
  .invest__equal {
    margin-right: 4.5%; }
  .invest__value {
    margin-right: 6.5%; }
