.modal {
  position: fixed;
  min-width: 1440px;
  min-height: 900px;
  z-index: 5; }
  .modal-title {
    font-size: 20px;
    margin-bottom: 1.4rem; }
    .modal-title_sub {
      margin-bottom: 0.4rem; }
  .modal-form__link {
    color: #304FFE; }
  .modal-form__limit {
    font-size: 12px;
    font-weight: normal;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem; }
  .modal-form__balance {
    font-size: 12px;
    font-weight: normal;
    padding-top: 0.1rem;
    padding-bottom: 0.8rem; }
  .modal-form__value {
    font-size: 12px;
    font-weight: bold; }
  .modal-error {
    font-size: 12px;
    font-weight: normal; }
  .modal-btn {
    margin-top: 4rem;
    width: 100%; }
    .modal-btn_reinvest {
      margin-top: 3.2rem; }
    .modal-btn_withdraw {
      margin-top: 2.1rem; }
    .modal-btn_login {
      width: 100%;
      margin-top: 0.8rem;
      margin-bottom: 2rem; }
  .modal__link {
    font-size: 12px;
    font-weight: normal;
    color: #919BB0;
    text-decoration: underline;
    padding-bottom: 0.5rem; }
    .modal__link a:hover {
      cursor: pointer;
      color: #304FFE; }
    .modal__link_register {
      color: #455074;
      text-decoration: none; }
      .modal__link_register a {
        color: #304FFE; }
  .modal-qr {
    text-align: center; }
  .modal__symbol {
    font-size: 14px;
    -webkit-transform: translateY(14%);
        -ms-transform: translateY(14%);
            transform: translateY(14%); }
  .modal-sub {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 1.6rem; }
  .modal-check {
    font-size: 12px;
    font-weight: normal;
    color: #919BB0;
    line-height: 14px; }
    .modal-check__link {
      font-weight: bold; }
      .modal-check__link:hover {
        color: #304FFE; }
    .modal-check__container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 1rem; }
      .modal-check__container_last {
        padding-bottom: 0.5rem; }

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.img-replace {
  /* replace text with an image */
  background-image: url("../img/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  white-space: nowrap; }

/* --------------------------------

xnugget info

-------------------------------- */
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0; }

.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #5e6e8d;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.no-touch .cd-nugget-info a:hover {
  opacity: .8; }

.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block; }

.cd-nugget-info span svg {
  display: block; }

.cd-nugget-info .cd-nugget-info-arrow {
  fill: #5e6e8d; }

/* --------------------------------

Main components

-------------------------------- */
.cd-popup-trigger {
  display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 50em;
          border-radius: 50em;
  background: #35a785;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07); }

@media only screen and (min-width: 1170px) {
  .cd-popup-trigger {
    margin: 6em auto; } }

/* --------------------------------

xpopup

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s; }

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s; }

.cd-popup-container {
  position: relative;
  width: 90%;
  color: #455074;
  padding-top: 3.7rem;
  padding-left: 5.8rem;
  padding-right: 5.8rem;
  padding-bottom: 4.7rem;
  max-width: 460px;
  margin: 4em auto;
  background: #FFF;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
     transition-duration: 0.3s; }
  .cd-popup-container_register {
    padding-bottom: 2.1rem; }

.cd-popup-container p {
  text-align: left; }

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both; }

.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none; }

.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  -webkit-border-radius: 0 0 0 .25em;
          border-radius: 0 0 0 .25em; }

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982; }

.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  -webkit-border-radius: 0 0 .25em 0;
          border-radius: 0 0 .25em 0; }

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8; }

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: -32px;
  right: -32px;
  width: 30px;
  height: 30px; }

.cd-popup-container_without-btn {
  padding-bottom: 1.6rem; }

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 13.8em auto; }
    .cd-popup-container_register {
      margin-top: 2.5rem; } }

.g-recaptcha {
  height: 4rem; }

.g-recaptcha iframe {
  -webkit-transform: translate(-17.4%, -40%) scale(0.65);
      -ms-transform: translate(-17.4%, -40%) scale(0.65);
          transform: translate(-17.4%, -40%) scale(0.65); }
