#dashboard-affiliate-binary-container {
  .not-assign-users {
    margin-bottom: 30px;
    padding: 20px 20px 0;
    background: #fafafa;
    border: 1px dashed #e1e1e1;
    display: inline-block;
    width: 100%;

    @include border-radius(5px);

    @include transition(all 0.5s);

    .left {
      width: 100px;
      float: left;

      a {
        width: 100%;
      }
    }

    .right {
      width: -webkit-calc(100% - 120px);
      width: -ms-calc(100% - 120px);
      width: -o-calc(100% - 120px);
      width: calc(100% - 120px);
      float: right;
    }

    .users {
      display: inline-block;
      width: 100%;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0 -10px;

      li {
        display: inline-block;
        float: left;
        padding: 7px 20px;
        border: 1px solid #e1e1e1;
        margin: 0 10px 20px;

        @include border-radius(5px);
      }
    }
  }

  .network-wrap {
    overflow: hidden;
    overflow-x: auto;
    margin-top: 30px;
  }

  .network {
    width: 900px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;

    @include transition(all 0.5s);

    @include border-radius(5px);

    @include transition(all 0.5s);

    > .content {
      margin: 0 auto;
      display: table;
      padding: 20px;
    }

    > .dashboard-marketing-binary-item-container {
      min-width: 100%;
    }

    .tree-root {
      .content-wrap {
        a.remove-child-node {
          display: none;
        }
      }
    }

    .content-wrap {
      display: inline-block;
      position: relative;

      .count-left {
        min-width: 160px;
        position: absolute;
        margin: 0;
        right: 96px;
        top: 6px;
        text-align: center;

        label {
          margin: 0;
          font-size: 15px;
          display: block;
        }
      }

      .item {
        float: left;

        .hover {
          display: none;
        }
      }

      .count-right {
        min-width: 160px;
        position: absolute;
        margin: 0;
        left: 96px;
        top: 6px;
        text-align: center;

        label {
          margin: 0;
          font-size: 15px;
          display: block;
        }
      }

      a.remove-child-node {
        width: 25px;
        height: 25px;
        background-color: #305be5;
        color: #fff;
        position: absolute;
        top: -34px;
        left: 30px;

        @include justify-content(center);

        @include align-items(center);

        @include border-radius(50%);

        @include transform(translateX(-50%));

        @include box-shadow(0px 2px 5px 0px rgba(0, 1, 1, 0.1));

        &:after {
          content: '';
          width: 9px;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;

          @include transform(translate(-50%, -50%));
        }
      }
    }

    .item {
      display: inline-block;
      position: relative;

      .avatar {
        width: 60px;
        height: 60px;

        // border: 2px solid #f0ba2a;
        margin: 0 auto;

        @include flex;

        @include justify-content(center);

        @include align-items(center);

        @include border-radius(50%);

        img {
          max-width: 60px;

          @include border-radius(50%);
        }

        &.hover {
          display: none;
        }
      }

      .name {
        width: 105px;
        height: 28px;
        background-color: transparent;
        color: #304FFE;
        font-size: 14px;
        position: absolute;
        left: 50%;
        bottom: -24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
        line-height: 24px;

        @include border-radius(5px);

        @include transform(translateX(-50%));
      }

      a.load-more {
        width: 25px;
        height: 25px;
        background-color: #305be5;
        color: #fff;
        position: absolute;
        bottom: -45px;
        left: 50%;
        display: none;

        @include justify-content(center);

        @include align-items(center);

        @include border-radius(50%);

        @include transform(translateX(-50%));

        @include box-shadow(0px 2px 5px 0px rgba(0, 1, 1, 0.1));
      }
    }

    .children {
      display: inline-block;
      width: 100%;

      .node-child {
        display: inline-block;
        width: 50%;

        &.node-item-left {
          float: left;
        }

        &.node-item-right {
          float: right;
        }
      }

      .children {
        .item {
          .avatar {
            width: 60px;
            height: 60px;

            img {
              max-width: 60px;
            }

            &.hover {
              display: none;
            }
          }
        }

        .children {
          .item {
            .avatar {
              width: 60px;
              height: 60px;

              img {
                max-width: 60px;
              }
            }

            .name {
              bottom: -24px;
            }

            a.load-more {
              @include flex;
            }
          }
        }
      }
    }

    .node-item-root {
      .content-wrap {
        .item {
          margin-bottom: 25px;
        }
      }

      .item {
        margin-bottom: 30px;

        &:after {
          content: '';
          height: 14px;
          width: 2px;
          background-color: rgb(48, 79, 254);
          position: absolute;
          bottom: -32px;
          left: 50%;

          @include transform(translateX(-50%));
        }
      }

      &.last {
        .item {
          &:after {
            display: none;
          }
        }
      }

      &.empty {
        .item {
          .name {
            display: none;
          }
        }
      }

      &.visited {
        .item {
          visibility: hidden;
        }

        &:after {
          width: 2px;
          height: 147px;
          position: absolute;
          top: 0;
          left: 50%;
          background-color: rgb(48, 79, 254);
          content: '';

          @include transform(translateX(-50%));
        }
      }
    }

    .node-child {
      position: relative;
      padding-top: 20px;

      .item {
        &:before {
          content: '';
          height: 20px;
          width: 2px;
          background-color: rgb(48, 79, 254);
          position: absolute;
          top: -20px;
          left: 50%;

          @include transform(translateX(-50%));
        }
      }
    }

    .node-item-left {
      &:after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: rgb(48, 79, 254);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .node-item-right {
      &:after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: rgb(48, 79, 254);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .node-append {
      padding-top: 70px;
      position: relative;

      .line {
        content: '';
        position: absolute;
        height: 2px;
        background-color: rgb(48, 79, 254);
        top: 20px;
      }

      > .node-item-root {
        position: relative;

        &:before {
          content: '';
          width: 2px;
          height: 50px;
          background-color: rgb(48, 79, 254);
          left: 50%;
          top: -50px;
          position: absolute;

          @include transform(translateX(-50%));
        }
      }
    }
  }

  .tooltip_templates {
    display: none;
  }
}