@import "vars";

/*==========  Desktop First  ==========*/

///* Large Devices, Wide Screens */
//@media only screen and (max-width : 1200px)
//	/**/
//
//
///* Medium Devices, Desktops */

	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 766.99px) {
  html {
    min-width: 100%;
    max-width: 100vw;
  }

  svg text {
    font-family: "Core Sans X", sans-serif;
  }

  body {
    max-width: 100vw;
  }

  body.nonscroll {
    //overflow: hidden;
  }

  .container {
    max-width: 100%;
    padding: 0 2rem;
  }

  header .landing-burger {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1001;
  }

  .cd-popup {
    background-color: transparent;

    &-container {
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 100%;

      & .cd-popup-close {
        top: 0.5rem;
        right: 0.5rem;
      }
    }

  }



  .mobile-logo, .nav-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }




  .landing {
    &-section {
      padding-bottom: 1rem;
    }

    &-header {
      position: relative;
      min-height: 100px;

      &_black {
        min-height: 875px;
      }


      &.navigation {
        min-height: 550px;
      }

      &__main {
        height: 100%;
      }
      &__bar {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        height: 550px;
        overflow: auto;
        z-index: 1000;
        background: #2A3156;
        display: none;
       flex-direction: column;
        align-items: flex-start;
        padding: 0;

        &.navigation {
          min-height: 100vh;
        }

      }

      &__container {
        flex-direction: column;
        padding: 0;
        padding-left: 3rem;

        &_white {
          padding-top: 1.7rem;
        }
      }

      &__logo {
        order: -2;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &_mobile {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &__nav {
        order: 1;
      }

      &__btns {
        order: -3;
      }

      &__item {
        font-size: 15px;
        padding: 1rem 0;
      }

      &__lang {
        position: absolute;
        top: 1rem;
        right: 5rem;
      }
    }

    &-footer {

      &__container {
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      &__copy {
        padding-right: 0;
        padding-top: 2rem;
        order: 2;
      }

      &__contacts {
        justify-content: space-around;
        width: 100%;
        padding-top: 2rem;
      }

      &__item {
        padding-right: 0;
        &:first-child {
          display: none;
        }
      }

      &__address {
        padding-right: 0;
        text-align: center;
      }
    }
  }

  .greeting {
    padding: 0;

    &__content {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 4rem;
    }

    &-nav {
      display: none;
    }

    &__text {
      max-width: 100%;
    }

    &__title {
      font-size: 28px;
      &_name {
        font-size: 40px;
      }
    }

    &__sub {
      max-width: 100%;
    }

    &__info {
      max-width: 95%;
    }

    &__image {
      transform: translate(-19%, -15%) scale(0.5);
    }

    &-links {
      position: absolute;
      left: 3rem;
      bottom: 11rem;
      width: 100%;
      flex-direction: column;
      padding: 0;
      align-items: flex-start;

      & span {
        width: 145px;
      }

      &__item {
        padding-bottom: 1rem;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .section-title {
    padding: 0;
  }

  .terobot {
    &-text {
      padding: 1rem 0;
    }
  }

  .advantages {
    &__container {
      padding: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      flex-direction: column;
    }

    &__column {
      padding-right: 0;
    }

    &__title {
      padding-top: 1.5rem;
    }

    &__item {
      max-width: 100%;
      padding-top: 3rem;
      min-height: 0;
      &:last-child {
        padding-top: 2rem;
      }

      &:first-child {
        padding-top: 2rem;
      }

      &.advantages__item_first {
        padding-top: 0;
      }
    }
  }

  .works {
    &__wrapper {
      padding-left: 0;
      flex-direction: column;
      position: relative;
      padding-bottom: 22rem;
    }

    &__chart {
      left: 50%;
      transform: translate(-50%, 0) scale(0.5);
      position: absolute;
      bottom: -6rem;
    }

    &__eye {
      left: 50%;
      transform: translateX(-50%);
    }

    &__item {
      max-width: 100%;
    }
  }

  .founds {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__wrapper {
      padding-left: 0;

      & .entry-shadow {
        display: block;
        left: -0.1rem;
        width: 30%;

        & #Rectangle-8 {
          height: 200px;
        }
      }

      & .out-shadow {
        right: -0.1rem;
        width: 30%;
        bottom: 0;

        & #Rectangle-8 {
          height: 200px;
          y: 0;
        }
      }
    }
  }

  .marquee {
    width: 100%;
  }

  .section {
    &-title {
      text-align: center;
    }
  }

  .hedge {
    &__container {
      padding-left: 0;
    }

    &__item {
      flex-direction: column;
      padding-bottom: 3rem;

      &:last-child {
        padding-bottom: 3rem;
      }
    }

    &__text {
      max-width: 100%;
    }

    &__left {
      padding-right: 0;
    }

    &-chart {
      &__title {
        padding-left: 0;
        text-align: center;
      }

      &__sub {
        padding-left: 0;
        text-align: center;
        padding-bottom: 1rem;
      }
    }

    &__right {
      padding-top: 3rem;
    }
  }

  .funds-chart {
    max-width: 100%;
    overflow-x: auto;

    & div {
      margin: 0 auto;
    }
  }

  .assets {
    &__container {
      padding-left: 0;
      padding-top: 2rem;
    }

    &__paragraph {
      max-width: 100%;
      padding-left: 0;
      text-align: justify;
    }
  }

  .reviews {
    &__container {
      padding-left: 0;
      padding-top: 2rem;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }

    &__item {
      padding-right: 0;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 100%;
      max-width: 338px;
      height: 100%;
      max-height: 338px;
      margin: 0 auto;
    }

    &__title, &__date {
      text-align: center;
    }

  }

  .article {

    &__date {
      display: block;
      text-align: center;
      width: 100%;
      padding-top: 1rem;
      position: static;
    }

    &__content {
      padding-left: 0;
      padding-top: 2rem;
    }

    &__paragraph {
      text-align: justify;
    }

    &__title, &__sub {
      text-align: center;
    }

    &__img {
      padding-top: 2rem;
      max-width: 100%;
      overflow: auto;
    }

    &-links {
      flex-direction: column;
      &__item {
        margin-right: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
      }

      &__img {
        width: 100%;
        max-width: 215px;
        height: 100%;
        max-height: 215px;
      }

      &__title {
        text-align: center;
      }

      &__text {
        text-align: justify;
      }

    }

  }

  .docs {
    &__container {
      padding-left: 0;
      flex-direction: column;
      padding-bottom: 2rem;
    }

    &__item {
      max-width: 100%;
      margin-right: 0;
      padding-bottom: 2.5rem;
    }
  }

  .about {
    padding-bottom: 4rem;
    &__text {
      padding-left: 0;
      text-align: justify;
    }

    &-links {
      padding-left: 0;
      flex-direction: column;

      &__container {
        justify-content: space-around;
        width: 100%;
      }

      &__title {
        padding-right: 0;
        padding-bottom: 2rem;
      }

      &__item {
        padding-right: 0;
      }
    }

    &-risk {
      padding-left: 0;
      flex-direction: column;

      &__title {
        padding-right: 0;
        text-align: center;
        padding-bottom: 2rem;

        & br {
          display: none;
        }
      }

      &__text {
        text-align: justify;
      }
    }
  }

  .page {
    &-wrapper {
      overflow: hidden;
      min-width: 100vw;
      max-width: 100vw;
      min-height: 100vh;
    }

    &-content {
      padding-right: 0;
    }

    &-user {
      display: none;
    }

    &-main {
      padding-top: 7vw;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      &.opened {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    &-aside {
      background: #fff;
      z-index: 10000000;
      min-width: 50%;
      border-right: 1px solid #bfbfbf;
      padding-right: 1rem;

      &.hidden {
        border-right: 0;
      }
    }
  }

  .main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: #fff;

    &__container {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      background-color: rgba(234, 235, 238, 0.21);
      border-top: 1px solid #EAEBEE;
      padding-top: 3vw;
      padding-bottom: 3vw;

    }

    &__item {
      margin-bottom: 0;
      max-height: initial;

      & a {
        justify-content: center;
        align-items: center;
        min-height: initial;
        max-height: initial;
        flex-direction: column;
      }

      & span {
        padding-top: 1vw;
        font-size: 2.2vw;
        letter-spacing: 0.3vw;
        margin-left: 0;
      }
    }
  }

  .main-logo_header {
    transform: translateY(0);
  }

  .header {
    &-bar {
      left: 3rem;
    }

    &-info {
      &__container {
        padding-top: 6.8vw;
      }

      &__title {
        font-size: 6vw;
        margin-right: 7vw;
      }

      &_sub {
        //display: none;
        //visibility: hidden;
        //opacity: 0;
      }

      &__item {
        width: 90%;
      }

      &_left {
        left: 1.5rem;
      }

      &_right {
        left: initial;
        right: 1.5rem;
      }

      &__head {
        justify-content: flex-start;
      }

      &__main {
        width: 97%;
        margin: 0 auto;
        height: 100%;
        border-radius: 15px;
        flex-direction: column;
        padding: 10vw 5.7vw;
      }
    }
  }

  .info {

    &-circle {
      width: 36px;
    }
    &__item {
      margin-right: 0;
      width: 100%;
      padding-bottom: 7.6vw;
      justify-content: flex-start;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &-text {
      padding-left: 7vw;
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      transform: translateY(10%);
      &__value {
        font-size: 8px;
      }

      &__top {
        align-items: center;
        flex-direction: column;
      }

      &__percent {
        margin-left: 0;
        order: -1;
        font-size: 2.7vw;
      }

      &__currency {
        font-size: 4vw;
        padding-top: 1vw;
      }

      &__value {
        font-size: 5.4vw;
        font-weight: 400;
      }

      &__dollar {
        font-size: 4vw;
        font-weight: 400;
      }

      &__bottom {

      }
    }
  }

  .aside-btn {
    position: absolute;
    top: 0;
    z-index: 10000001;
    right: 1rem;
  }

  .main-container {
    max-width: 100%;
    min-width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    flex-direction: column;

    &.opened {
      max-width: 100%;
      min-width: 100%;
      padding: 1rem;
      padding-top: 2rem;
      flex-direction: column;
    }
  }

  .main-btn {
    width: 71vw;
    height: 13vw;
  }

  .pop-container {
    min-height: 74vh;
    padding: 11vw 8vw;
    position: relative;
  }

  .header-info {
    position: relative;
  }

  .modal {
    &-form {
      &__balance {
        font-size: 3.3vw;
        line-height: 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5vw;
      }

      &__value {
        font-size: 5vw;
        min-width: 32vw;

        &_sm {
          font-size: 3.5vw;
        }
      }
    }

    &-btn {
      position: absolute;
      bottom: 16vw;

    }

    &__link-reverse {
      position: absolute;
      top: 9vw;
      left: 9vw;
    }

    &__symbol {
      font-size: 3vw;
      font-weight: 400;
      transform: translateY(27%);
    }

    &-qr {
      margin-bottom: 5vw;
    }


  }




  .programm {
    &-chart {
      height: 260px;
      margin-bottom: 8vw;
      position: static;
      &.main-container {
        height: 100%;
        padding: 0;
      }

      &__container {
        height: 310px;
        &.opened {
          width: 183vw;
          left: -28vw;
        }
      }

      &__wrapper {
        padding: 10vw 8vw;
      }
    }

    &-head {
      flex-direction: column;
      padding-bottom: 3rem;
      //text-align: center;

      &__date {
        padding-bottom: 1vw;
      }

      &__origin {
        margin-right: 0;
      }

      &__value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8.2vw;

        &_last {
          padding-bottom: 6vw;
        }
      }

      &__value_mr {
        margin-right: 0;
      }

      &__title {
        order: 2;
        margin-bottom: 0;
        font-size: 5vw;

        &_big {
          font-size: 8vw;
        }
      }

      &__profit {
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //flex-direction: column;
      }
    }
  }

  .highcharts-axis-labels span {
    font-size: 4vw !important;
  }

  .chart-wrapper {
    position: relative;
    height: 278px;
  }

  .block-title {
    font-size: 6.4vw;
    line-height: 8.4vw;
    padding-bottom: 7vw;
    text-align: left;
  }

  .invest {
    flex-direction: column;
    align-items: flex-start;
    padding: 10vw 8vw !important;
    padding-bottom: 16vw !important;
    margin-bottom: 5vw;

    &-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;

      &_last {
        justify-content: flex-start;
        padding-top: 2vw;
        align-items: center;
        padding-bottom: 10vw;
      }
    }

    &__title {
      margin-right: 0;
      margin-bottom: 2.7vw;
      padding-bottom: 0;
    }

    &-input {
     margin-bottom: 1.5rem;
      margin-right: 0;
      width: 14vw;

      &__item {
        padding-bottom: 4.7vw;
        font-weight: 400;
        font-size: 6vw;
      }
    }

    &__variable {
      padding-bottom: 1rem;
      margin-right: 0;
      font-size: 5vw;
      font-weight: 600;
      color: $mainBlack;

      &-container {
        padding-right: 4vw;
      }
    }

    &-info {
      padding-bottom: 1rem;
      margin-right: 0;
      font-size: 3.3vw;
      font-weight: 400;
      width: 33vw;

      &__values {
        width: 38vw;
        display: flex;
        justify-content: space-between;
      }
    }

    &__equal {
      margin-right: 0;
    }

    &__value {
      margin-right: 0;
      font-size: 5vw;
    }

  }

  .bonus {
    padding: 11.5vw 8vw !important;
    align-items: center;
    &__item {
      position: relative;
      width: 100%;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-right: 0;
      padding-bottom: 8vw;

      &:last-child {
        padding-bottom: 6vw;
      }
    }

    &__circle {
      display: none;
    }

     &-text  {
      margin-right: 1rem;
    }

    &__value {
      position: absolute;
      right: 0;
      font-size: 5.2vw;
      justify-self: flex-end;
    }
  }

  .limit {
    padding: 11.5vw 8vw !important;
    align-items: flex-start;
    &__item {
      padding-bottom: 7vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        padding-bottom: 5vw;
      }
    }

    &__text {
      width: 31vw;
      margin-right: 0;
      font-size: 3.8vw;
      line-height: 4.8vw;
      font-weight: 300;

      &_bold {
        font-weight: 600;
      }
    }

    &__value {
      font-size: 5vw
    }
  }

 .active-bonus {
   padding: 10.4vw 8vw !important;
   padding-bottom: 16vw !important;
   margin-bottom: 20vw;
    &__title, &__item, &__left {
      padding-bottom: 1rem;
      margin-right: 0;
    }

   &__title {
     font-size: 4.3vw;
   }

    &__row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

   &__left {
     font-size: 3.7vw;
     font-weight: 400;
     padding-top: 2vw;
     width: 100%;

   }

    &__check {
      padding-top: 3vw;
      width: 100%;
      justify-content: space-between;
      padding-bottom: 10vw;

      & .can-toggle__switch {
        transform: translateX(-100%) scale(1.4);
      }
    }


   &__btn {
     margin-right: 0;
   }

  }

  .wallet {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    &.opened {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }

    &__data {
      position: relative;
      justify-content: flex-start;
    }

    &__title {
      padding-top: 9vw;

      &-container {
        width: 44vw;
      }
    }

    &-values {
      padding-top: 6vw;
      padding-right: 0;
      padding-bottom: 6vw;
      position: relative;

      & .wallet-btns__link {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &__item {
        &:first-child {
          margin-bottom: 0;
        }

      }

      &__value {
        font-size: 5vw;
      }

      &__currency {
        font-size: 3vw;
      }

      &__img {
        margin-right: 4vw;
        svg {
          transform: translate(14%, -14%);
          width: 9vw !important;
          height: auto !important;
        }
      }

      &__title {
        font-size: 3vw;
      }
    }

    &-btns {
      position: absolute;
      padding: 0;
      padding-left: 8vw;
      bottom: 0;
      left: 0;

      &__link {
        font-size: 3vw;
        letter-spacing: 0.3vw;
        line-height: 3vw;
        color: $mainBlue;
      }
    }

    &__title-bg {
      top: 6vw;
      font-size: 8.5vw;
    }


    &__item {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  .transaction {
    padding-top: 2vw;

    &-form {
      padding: 9vw 8vw 16vw !important;


      & .main-btn {
        margin-top: 6vw;
      }
    }


    &__title {
      margin-left: 3vw;
      font-size: 6.3vw;
    }

    &-links {
      justify-content: space-between;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 6vw;
      padding-bottom: 1.1vw;

      &__item {
        font-size: 4vw;
        margin-right: 0;
        padding-bottom: 1rem;
      }
    }

    &-table {
      display: flex;
      align-items: stretch;
      overflow: auto;
      padding-top: 0;
      padding-bottom: 80vw;

      &__title {
        padding-top: 14vw;
        padding-left: 14.3vw;
        color: $mainBlack;
        font-size: 6.5vw;

      }

      &__header {
        margin-right: 0;
        font-size: 3.7vw;
        line-height: 8vw;
        font-weight: 300;
      }

      &__item {
        font-size: 3.7vw;
        line-height: 8vw;
        min-width: 22vw;
        height: 19vw;

        & img {
          display: none;
        }
      }

      &__description {
        display: block;

        &-title {
          padding-bottom: 5vw;
        }
      }

      &__row {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &_header {
          align-items: stretch;
          padding-right: 16vw;
          padding-left: 15vw;

          & .transaction-table__item {
            justify-content: space-between;

            &:last-child {
              align-items: center;
            }
          }
        }
        &_mb {
          margin-bottom: 0;
        }

        &_body {
          padding: 0;
          max-width: 130px;
          min-width: 130px;

          &.opened {
            padding: 0;
            max-width: 130px;
            min-width: 130px;
          }
        }


      }


    }
  }

  .profile {
    margin-bottom: 2rem;
    padding-bottom: 13vw !important;

    &__header {
      flex-direction: column;
    }

    &__form {
      padding-left: 0;
    }

    &__footer {
      flex-direction: column;

      &-left {
        flex-direction: column;
        height: 256px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
      }
    }

    &__img {
      width: 24vw;
      height: 24vw;
      margin-bottom: 5vw;

      &-link {
        font-size: 3.6vw;
      }
    }

    &__name {
      font-size: 6vw;
      margin-bottom: 4.5vw;
    }

    &__email {
      font-size: 3.8vw;
      margin-bottom: 0;
    }

    &__sponsor {
      font-size: 3.7vw;
      margin-bottom: 5vw;
    }

    &__verification {
      font-size: 3.8vw;
      padding-bottom: 6vw;
    }

    &__checkbox {
      margin-right: 0;
      width: 25vw;

      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 8vw;
      }
    }

    &-form {
      padding: 9vw 8vw 16vw !important;
      margin-bottom: 2rem;
    }

    &-color {
      margin-bottom: 30vw;
    }

    &__qr-link {
      position: static;
      margin-top: 7vw;
      font-size: 3.2vw;
      width: 40vw;
      text-align: center;
    }

    &-tf {
      &__container {
        padding-top: 8vw;
        width: 40vw;
      }

      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }


    }

    &__tf-text {
      margin-right: 2vw;
    }

    &__switcher {
      transform: translateX(-10vw) scale(1.6);
    }

    &-verification {
      padding: 5vw 8vw 9vw !important;

      &__data {
        padding-bottom: 5vw;
      }

      &__select {
        width: 100%;
      }
    }

    &-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 26vw;

      & .profile__name {
        font-size: 4.3vw;
        margin-bottom: 2.2vw;
      }

      & .profile__doc {
        font-size: 3.3vw;
        width: 43vw;
        margin-bottom: 14vw;
      }
    }
  }

  .page-nger {
    display: flex;
    justify-content: space-between;
  }

  .color-changer {

  }

  .form {
    &-input {

      &__currency {
        display: none;
      }
    }

    &__title {
      font-size: 2.2vw;
    }

    &__input {
      font-size: 3.6vw;
      padding-bottom: 1.5vw;
    }

    &__warn {
      font-size: 2.2vw;
      padding-top: 1vw;
    }
  }

  .form__container {
    min-width: 100%;
    margin: 0 auto;
    padding-bottom: 7vw;

    &_reinvest {
      margin-top: 6vw;
    }

    &_modal {
      min-width: initial;
    }
  }

  .dropdown {
    width: 100%;
    height: 12vw;
    margin: 0 auto;
    margin-bottom: 4vw;

    & > span {
      height: 100%;
      padding-top: 0;
      display: flex;
      align-items: center;
      font-size: 3vw;
    }

    &:after {
      height: 4vw;
      width: 4vw;
      background-size: contain;
    }
  }

  .dropdown.open .list ul {
    background: #fff;
  }

  .main-container.space-between.opened {
    padding-right: 1rem;
    align-items: center;
  }

  .portfolio, .deployed {
    padding: 0;
    overflow: auto;
    flex-direction: row;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.opened {
      display: flex;
      padding: 0;
      max-width: none;
      min-width: auto;
      overflow: auto;
      flex-direction: row;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__row {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 1rem;

      & .table {
        &-item {
          min-height: 4rem;
        }
      }

      &.table-row_header {
        min-width: 5rem;
      }

      &.table-row_body {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        align-items: center;
        min-width: 8rem;


        & .table-item {
          width: 100%;
        }
      }

      &_header {
        align-items: stretch;
        padding-right: 2rem;

        & .transaction-table__item {
          justify-content: space-between;

          &:last-child {
            align-items: center;
          }
        }
      }

      &_body {
        padding: 0;
        max-width: 400px;
        min-width: 400px;

        &.opened {
          padding: 0;
          max-width: 400px;
          min-width: 400px;
        }
      }


    }

    &__share {
      text-align: center;
    }
  }



  .exchange-history {
    &__table {
      padding: 0;
      overflow: auto;
      flex-direction: row;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &.opened {
        display: flex;
        padding: 0;
        max-width: none;
        min-width: auto;
        overflow: auto;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }

    &__row {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 1rem;

      & .table {
        &-item {
          min-height: 4rem;
        }
      }

      &.table-row_header {
        min-width: 5rem;
      }

      &.table-row_body {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        align-items: center;
        min-width: 8rem;

        & .table-item {
          width: 100%;
        }
      }

      &_header {
        align-items: stretch;
        padding-right: 2rem;

        & .transaction-table__item {
          justify-content: space-between;

          &:last-child {
            align-items: center;
          }
        }
      }

      &_body {
        padding: 0;
        max-width: 400px;
        min-width: 400px;

        &.opened {
          padding: 0;
          max-width: 400px;
          min-width: 400px;
        }
      }

    }

    &__share {
      text-align: center;
    }

    &__btn {
      width: 90%;
    }


  }

  .exchange-history__btn-container {
    justify-content: center;
  }

  .deployed {
    &__row.table-row_header {
      min-width: 6rem;
    }
  }

  .affiliate__btn-container {
    justify-content: center;
  }

  .pagination-center {
    display: none;
  }

  .exchange {
    padding-top: 0 !important;
    &.main-container {
      padding-left: 0;
      padding-right: 0;

      &.opened {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-input {
      &__currency {
        top: 6vw;
        font-size: 3.3vw;
      }
    }

    &-history {
      padding-left: 6vw;
      padding-top: 7vw;
      padding-bottom: 30vw;

      &__btn {
        width: 100%;
        &-container {
          padding-right: 15vw;
          padding-left: 8vw;
        }
      }

      &__links {
        padding: 0;
        width: 63vw;
      }

      &__table {
        padding-bottom: 0 !important;
      }

      &__row {
        font-size: 3.5vw;
        font-weight: 300;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 0;
        padding-left: 0;



        &.table-row_header {
          min-width: 29vw;

          & .table-item {
            width: 100%;
          }
        }

        &.table-row_body {
          align-items: flex-start;
          justify-content: flex-start;
          text-align: left;
          min-width: 30vw;

          & .exchange-history__type {
            color: $mainRed;
          }
        }
      }


    }

    &-form {
      flex-direction: column;


      &__content {
        padding: 9vw 8vw 16vw !important;
      }

      &__link {
        top: 7vw;
        right: 10vw;
        font-size: 3.2vw;
      }

      &__item {
        max-width: 100%;
        margin-bottom: 3rem;
      }

      &__title {
        width: auto;

        &-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 9.7vw;
          width: 100%;
        }

        &-top {
          font-size: 3.1vw;
          margin-bottom: 2vw;
        }

        &-main {
          font-size: 4.3vw;
        }

        &-sign {
          font-size: 2.5vw;
        }
      }

      &__input {
        width: 100%;
      }


    }
    &-orders {
      &__wrapper {
        flex-direction: column;
      }

      &__item {
        width: 100%;
        margin-top: 0;
        margin-bottom: 13vw;
      }

      &__title {
        font-size: 6vw;

        & svg {
          margin-left: 10vw;
        }
      }

      &__row {
        padding-right: 1rem;
        justify-content: space-between;

        & .table-item {
          width: initial;
        }
      }

      &__btn {
        width: 90%;
        margin: 0 auto;
      }
    }

    &-open {
      padding: 9vw 8vw 3vw !important;

      &__table {
        padding: 0;
        display: flex;
      }

      &__row {
        flex-direction: column;

        &-body {
          & .table-item {
            width: 30vw;
            font-size: 4vw;
            line-height: 7vw;
          }
        }

        & .table-item {
          min-height: 23vw;
        }

        &_header {
          font-size: 4vw;
          font-weight: 300;
          width: 77vw;
        }
      }

      &__description {
        text-align: left;
      }
    }


  }

  .affiliate {
    &__links {
      padding: 0;
      padding-top: 3vw;
      justify-content: flex-start;

      & .transaction-links__item {
        margin-right: 4vw;
      }
    }

    &__btn-container {
      padding-bottom: 25vw;
    }

    &-search {
      padding-top: 4vw !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4vw;
      }

      &__title, &__sub, &__search-container {
        width: 100%;
        text-align: left;
        padding-bottom: 1rem;
      }

      &__main {
        padding: 12vw 8vw 9vw !important;
      }

      &__search-container {
        padding-bottom: 13vw;
        & svg {
          margin-right: 8vw;
        }
      }

      &__main .main-btn {
        width: 100%;
        margin-bottom: 7vw;
      }

    }

    &-list {
      &__container {
        flex-direction: row;

        &.opened {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      &__icon {
        display: none;
      }

      &__item {
        width: 25vw;
        height: 25vw;
        margin-bottom: 1.5rem;
        margin-right: 1rem;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      &__value {
        font-size: 7vw;
        padding-bottom: 1vw;
      }

      &__text {
        font-size: 2.8vw;
      }
    }
  }

  .affiliate-table {
    overflow: auto;
    padding-left: 0.3rem;
    padding-top: 1.9vw;

    &.opened {
      padding-left: 0;
    }


    &__row {
      min-width: 850px;
      padding-left: 11vw;
      padding-right: 11vw;

      &_header  {
        margin-bottom: 0;


        & > .affiliate-table__icon {
          height: 18px;
          border-color: transparent;
        }
      }


    }

    &__btn-container {
      width: 100%;
      padding-bottom: 20vw;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $mainBlack;
      margin-right: 35px;

      &.active {
        background-color: #E7EBFC;
        border-color: $mainBlue;
      }
    }

    &__level {
      width: 30px;
      margin-right: 25px;
    }

    &__user {
      width: 34px;
      margin-right: 27px;
    }

    &__username {
      width: 90px;
      margin-right: 30px;
    }

    &__email {
      width: 150px;
    }
  }

  .node.bug {
    transform: translateX(1%);
  }

  .binary {
    &__wrapper {
      padding-bottom: 10rem;
    }
  }

  .investReportChart {
    max-width: 750px;
    min-width: 750px;
  }

  .investReport-donut {
    margin-bottom: 3rem;
    &__main {
      display: flex;
      flex-direction: column;
      overflow: initial;
      height: auto;
    }

    &__container {
      position: static;
      transform: translateX(-77%) scale(0.8);

      & .highcharts-label {
        display: none;
      }
    }

    &__summ {
      position: static;
      max-width: 100%;
      max-height: initial;
      flex-direction: row;
      justify-content: space-around;
    }

    &__element {
      flex-direction: column;
      margin-right: 0;
      min-width: 100px;
    }

    &__header {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }

    &__icon {
      padding-top: 2rem;
    }
  }

  .donut-summary {
    &__btn {
      margin-right: 0;
      order: 2;
      margin-top: 0.5rem;
    }
  }

  .colied {
    margin-bottom: 3rem;
    &__wrapper {
      max-width: 100%;
      overflow: auto;
      top: 5rem;
    }

    &__chart {
      width: 1000px;
    }
  }

  .profile__form_lg .form__container {
    min-width: 90%;
  }

  .profile__data_lg {
    min-width: 100%;
    padding-top: 1rem;
  }

  .profile__footer_empty {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .lang-change {
    &::after {
      display: none;
    }
  }

}

@media screen and (min-width: 350px) and (max-width: 400px) {
  .programm {
    &-chart {
      height: 260px;
      &.main-container {
        height: 100%;
        padding: 0;
      }

      &__container {
        &.opened {
          width: 185vw;
          left: -27vw;
        }
      }
    }
  }

  .investReportChart {
    max-width: 680px;
    min-width: 680px;
  }

  .investReport-donut {
    &__container {
      position: static;
      transform: translateX(-55.2%) scale(0.8);
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  .programm {
    &-chart {
      &__container {
        &.opened {
          width: 187vw;
          left: -27vw;
        }
      }
    }
  }

  .investReport-donut {
    &__container {
      position: static;
      transform: translateX(-55%) scale(1);
    }
  }
}

@media only screen and (max-device-width : 768px) and (orientation: landscape) {
  .greeting__image {
    position: absolute;
    left: 50%;
    top: 16rem;
    transform: translate(-50%) scale(0.5);
  }

  .programm {
    &-chart {
      height: 260px;
      &.main-container {
        height: 100%;
        padding: 0;
      }

      &__container {
        &.opened {
          width: 870px;
          left: -83px;
        }
      }
    }
  }

  .investReport-donut {
    &__container {
      width: 100vw;
      height: 310px;
      margin-bottom: 65px;
      transform: translateX(-20%) scale(1);
    }


  }
}

@media only screen and (min-device-width : 650px) and (max-device-width: 700px) and (orientation: landscape) {

  .investReport-donut {
    &__container {
      transform: translateX(-10%) scale(1);
    }
  }
}

@media only screen and (min-device-width : 700px) and (max-device-width: 750px) and (orientation: landscape) {
  .investReport-donut {
    &__container {
      transform: translateX(-3%) scale(1);
    }
  }
}


@media only screen and (min-width: 768px) and (max-width : 1024px) {
  html {
    min-width: 100%;
    max-width: 100vw;
  }

  svg text {
    font-family: "Core Sans X", sans-serif;
  }

  body {
    max-width: 100vw;
  }

  body.nonscroll {
    //overflow: hidden;
  }

  .container {
    max-width: 100%;
    padding: 0 2rem;
  }

  header .landing-burger {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0;
    z-index: 1001;
  }

  .cd-popup {

    &-container {
      margin: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 100%;

      & .cd-popup-close {
        top: 0.5rem;
        right: 0.5rem;
      }
    }

  }

  .mobile-logo, .nav-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .terobot {
    &-text {
      padding: 1rem 0;
      padding-left: 20%;
    }
  }

  .advantages {
    &__container {
      padding: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 20%;
      //flex-direction: column;
    }

    &__column {
      padding-right: 5%;
    }
  }

  .works {
    &__wrapper {
      padding-left: 0;
      flex-direction: column;
      position: relative;
      padding-bottom: 33rem;
    }

    &__container {
      padding-left: 20%;
    }

    &__chart {
      left: 50%;
      transform: translate(-50%, 0) scale(0.8);
      position: absolute;
      bottom: -2rem;
    }

    &__eye {
      left: 50%;
      transform: translateX(-50%);
    }

    &__item {
      max-width: 100%;
    }
  }

  .founds {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__wrapper {
      padding-left: 0;

      & .entry-shadow {
        display: block;
        left: -0.1rem;
        width: 30%;

        & #Rectangle-8 {
          height: 200px;
        }
      }

      & .out-shadow {
        right: -0.1rem;
        width: 30%;
        bottom: 0;

        & #Rectangle-8 {
          height: 200px;
          y: 0;
        }
      }
    }
  }

  .marquee {
    width: 100%;
  }

  .section {
    &-title {
      text-align: left;
    }
  }


  .landing {
    &-section {
      padding-bottom: 1rem;
    }

    &-header {
      position: relative;
      min-height: 100px;

      &_black {
        min-height: 875px;
      }


      &.navigation {
        min-height: 550px;
      }

      &__main {
        height: 100%;
      }
      &__bar {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        height: 550px;
        overflow: auto;
        z-index: 1000;
        background: #2A3156;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        &.navigation {
          min-height: 100vh;
        }

      }

      &__container {
        flex-direction: column;
        padding: 0;
        padding-left: 3rem;

        &_white {
          padding-top: 1.7rem;
        }
      }

      &__logo {
        order: -2;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &_mobile {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &__nav {
        order: 1;
      }

      &__btns {
        order: -3;
      }

      &__item {
        font-size: 15px;
        padding: 1rem 0;
      }

      &__lang {
        position: absolute;
        top: 1rem;
        right: 5rem;
      }
    }

    &-footer {

      &__container {
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      &__copy {
        padding-right: 0;
        padding-top: 2rem;
        order: 2;
      }

      &__contacts {
        justify-content: space-around;
        width: 100%;
        padding-top: 2rem;
      }

      &__item {
        padding-right: 0;
        &:first-child {
          display: none;
        }
      }

      &__address {
        padding-right: 0;
        text-align: center;
      }
    }

    &-main {
      padding-top: 2rem;
    }
  }

  .greeting {
    padding: 0;

    &__content {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 4rem;
    }

    &-nav {
      display: none;
    }

    &__text {
      max-width: 100%;
    }

    &__title {
      font-size: 28px;
      &_name {
        font-size: 40px;
      }
    }

    &__sub {
      max-width: 100%;
    }

    &__info {
      max-width: 95%;
    }

    &__image {
      transform: translate(-19%, -15%) scale(0.5);
    }

    &-links {
      position: absolute;
      left: 3rem;
      bottom: 11rem;
      width: 100%;
      flex-direction: column;
      padding: 0;
      align-items: flex-start;

      & span {
        width: 145px;
      }

      &__item {
        padding-bottom: 1rem;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .section-title {
    padding: 0;
    padding-left: 2rem;
  }

  .greeting {
    &-links {
      right: 20%;
      bottom: 22rem;
      width: auto;
      left: initial;
    }

    &__image {
      transform: translate(-12%, 2%) scale(0.5);
    }
  }

  .hedge {
    &__container {
      padding-left: 0;
    }

    &__item {
      flex-direction: column;
      padding-bottom: 3rem;

      &:last-child {
        padding-bottom: 3rem;
      }
    }

    &__text {
      max-width: 100%;


    }

    &__left {
      padding-right: 0;
    }

    &-chart {
      &__title {
        padding-left: 0;
        text-align: center;
      }

      &__sub {
        padding-left: 0;
        text-align: center;
        padding-bottom: 1rem;
      }
    }

    &__right {
      padding-top: 3rem;
    }

    &-text {
      &__header {
        padding-left: 5%;
      }
    }
  }

  .funds-chart {
    max-width: 100%;
    overflow-x: auto;

    & div {
      margin: 0 auto;
    }
  }

  .assets {
    &__container {
      padding-left: 10%;
    }
  }

  .docs {
    &__container {
      padding-left: 10%;
      width: 100%;
      justify-content: space-around;
    }

    &__item {
      margin-right: 0;
    }
  }

  .about {
    padding-bottom: 3rem;


    &__text,  &-risk {
      padding-left: 10%;
    }


  }

  .reviews {
    &__container {
      padding-left: 0;
      padding-top: 2rem;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }

    &__item {
      padding-right: 0;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 100%;
      max-width: 338px;
      height: 100%;
      max-height: 338px;
      margin: 0 auto;
    }

    &__title, &__date {
      text-align: center;
    }

  }

  .page {
    &-wrapper {
      overflow: hidden;
      min-width: 100vw;
      max-width: 100vw;
    }

    &-content {
      padding-right: 0;
    }

    &-user {
      display: none;
    }

    &-main {
      padding-top: 22rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      &.opened {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    &-aside {
      background: #fff;
      z-index: 10000000;
      min-width: 35%;
      border-right: 1px solid #bfbfbf;
      padding-right: 1rem;

      &.hidden {
        border-right: 0;
      }
    }
  }

  .main-logo_header {
    transform: translateY(0);
  }

  .header {
    &-bar {
      left: 3rem;
    }

    &-info {
      &_sub {
        display: none;
        visibility: hidden;
        opacity: 0;
      }

      &__item {
        width: 90%;
      }

      &_left {
        left: 1.5rem;
      }

      &_right {
        left: initial;
        right: 1.5rem;
      }

      &__head {
        justify-content: center;
      }

      &__main {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        flex-direction: column;
        padding: 1rem 0;
      }
    }
  }

  .info {
    &__item {
      margin-right: 0;
      width: 100%;
      padding-bottom: 1rem;
      justify-content: space-around;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &-text {
      margin-left: 0;
      &__value {
        font-size: 8px;
      }
    }
  }

  .aside-btn {
    position: absolute;
    top: 0;
    z-index: 10000001;
    right: 1rem;
  }

  .main-container {
    max-width: 100%;
    min-width: 100%;
    padding: 1rem;
    //padding-top: 2rem;
    flex-direction: column;

    &.opened {
      max-width: 100%;
      min-width: 100%;
      padding: 1rem;
      //padding-top: 2rem;
      flex-direction: column;
    }
  }


  .programm {
    &-chart {
      height: 260px;
      &.main-container {
        height: 100%;
        padding: 0;
      }

      &__container {
        left: -20vw;
        &.opened {
          width: 170vw;
          left: -20vw;
        }
      }
    }

    &-head {
      //flex-direction: column;
      //text-align: center;

      &__date {
        padding-bottom: 2rem;
      }

      &__origin {
        margin-right: 1rem;
      }

      &__value {
        display: flex;
        flex-direction: column;
        //align-items: center;
        padding-bottom: 1.5rem;
        margin-right: 1rem;

        & .block-title {
          font-size: 15px;
        }
      }

      &__value_mr {
        //margin-right: 0;
        //padding-top: 0.5rem;
      }

      &__subtitle {
        padding-top: 0.4rem;
      }

      &__title {
        order: 2;
        margin-bottom: 0;
        //margin-top: 1rem;
      }

      &__profit {
        padding-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .block-title {
    line-height: 2rem;
    padding-bottom: 1rem;
  }

  .invest {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.opened {
      flex-direction: row;
    }


    &__title {
      font-size: 20px;
      //padding-bottom: 1rem;
      margin-right: 0;
    }

    &-input {
      //margin-bottom: 1.5rem;
      margin-right: 0;
    }

    &__variable {
      //padding-bottom: 1rem;
      margin-right: 0;
    }

    &-info {
      //padding-bottom: 1rem;
      margin-right: 0;
    }

    &__equal {
      //padding-bottom: 1rem;
      margin-right: 0;
    }

    &__value {
      //padding-bottom: 1.5rem;
      margin-right: 0;
    }

  }

  .bonus {
    align-items: center;
    flex-direction: row;

    &.opened {
      flex-direction: row;
    }

    &__item {
      position: relative;
      width: 30%;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-right: 0;
      padding-bottom: 1rem;
    }

    &__circle {
      display: none;
    }

    &__circle, &-text  {
      margin-right: 1rem;
    }

    &__value {
      position: absolute;
      right: 0;
      font-size: 12px;
      justify-self: flex-end;
    }
  }

  .limit {
    flex-direction: row;

    &.opened {
      flex-direction: row;
      justify-content: space-around;
    }

    &__item {
      padding-bottom: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &__text {
      padding-bottom: 1rem;
      margin-right: 0;
    }
  }

  .active-bonus {
    flex-direction: row;
    justify-content: space-between;

    &.opened {
      flex-direction: row;
    }

    &__title, &__item, &__left {
      //padding-bottom: 1rem;
      margin-right: 0;
    }

    &__check {
      //padding-top: 1rem;
    }


    &__btn {
      margin-right: 0;
    }

    &__checkbox {
      width: 40px;
    }

  }

  .wallet {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    &.opened {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }


    &__item {
      width: 100%;
      margin-bottom: 2rem;
    }

    &-btns {
      &__link {
        letter-spacing: 1px;
      }
    }
  }

  .transaction {
    &__title {
      text-align: center;
    }

    &-links {
      flex-direction: row;
      align-content: flex-start;
      justify-content: flex-start;

      &__item {
        margin-right: 1rem;
        padding-bottom: 1rem;
      }
    }

    &-table {
      display: flex;
      align-items: stretch;
      overflow: auto;

      &__item {
        min-height: 3rem;
      }

      &__row {
        flex-direction: column;
        justify-content: space-between;

        &_header {
          align-items: stretch;
          padding-right: 2rem;

          & .transaction-table__item {
            justify-content: space-between;

            &:last-child {
              align-items: center;
            }
          }
        }

        &_body {
          padding: 0;
          max-width: 400px;
          min-width: 400px;

          &.opened {
            padding: 0;
            max-width: 400px;
            min-width: 400px;
          }
        }


      }
    }
  }

  .profile {
    margin-bottom: 2rem;
    &__header {
      flex-direction: column;
    }

    &-form {
      margin-bottom: 5vw;
    }

    &__form {
      padding-left: 0;
    }

    &__footer {
      flex-direction: column;

      &-left {
        flex-direction: row;
        //height: 256px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2rem;
      }
    }

    &__checkbox {
      margin-right: 0;
    }

    &__qr-link {
      left: 8%;
      top: 35px;

    }

    &__tf-text {
      align-self: flex-start;
    }
  }

  .form__container {
    min-width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .dropdown {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .dropdown.open .list ul {
    background: #fff;
  }

  .main-container.space-between.opened {
    padding-right: 1rem;
    align-items: center;
  }

  .portfolio, .deployed {
    padding: 0;
    overflow: auto;
    flex-direction: row;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.opened {
      display: flex;
      padding: 0;
      max-width: none;
      min-width: auto;
      overflow: auto;
      flex-direction: row;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__row {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 1rem;

      & .table {
        &-item {
          min-height: 4rem;
        }
      }

      &.table-row_header {
        min-width: 5rem;
      }

      &.table-row_body {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        align-items: center;
        min-width: 8rem;


        & .table-item {
          width: 100%;
        }
      }

      &_header {
        align-items: stretch;
        padding-right: 2rem;

        & .transaction-table__item {
          justify-content: space-between;

          &:last-child {
            align-items: center;
          }
        }
      }

      &_body {
        padding: 0;
        max-width: 400px;
        min-width: 400px;

        &.opened {
          padding: 0;
          max-width: 400px;
          min-width: 400px;
        }
      }


    }

    &__share {
      text-align: center;
    }
  }



  .exchange-history {
    &__table {
      padding: 0;
      overflow: auto;
      flex-direction: row;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &.opened {
        display: flex;
        padding: 0;
        max-width: none;
        min-width: auto;
        overflow: auto;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }

    &__row {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 1rem;

      & .table {
        &-item {
          min-height: 4rem;
        }
      }

      &.table-row_header {
        min-width: 5rem;
      }

      &.table-row_body {
        padding: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        text-align: center;
        align-items: center;
        min-width: 8rem;

        & .table-item {
          width: 100%;
        }
      }

      &_header {
        align-items: stretch;
        padding-right: 2rem;

        & .transaction-table__item {
          justify-content: space-between;

          &:last-child {
            align-items: center;
          }
        }
      }

      &_body {
        padding: 0;
        max-width: 400px;
        min-width: 400px;

        &.opened {
          padding: 0;
          max-width: 400px;
          min-width: 400px;
        }
      }

    }

    &__share {
      text-align: center;
    }

    &__btn {
      width: 90%;
    }


  }

  .exchange-history__btn-container {
    justify-content: center;
  }

  .deployed {
    &__row.table-row_header {
      min-width: 6rem;
    }
  }

  .affiliate__btn-container {
    justify-content: center;
  }

  .pagination-center {
    //display: none;
  }

  .exchange {
    &.main-container {
      padding-left: 0;
      padding-right: 0;

      &.opened {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-form {
      flex-direction: column;
      &__item {
        max-width: 100%;
        margin-bottom: 3rem;
      }

      &__title {
        width: 100%;
      }

      &__input {
        width: 100%;
      }

      &__btn {
        width: 90%;
        margin: 0 auto;
      }


    }
    &-orders {
      &__wrapper {
        flex-direction: column;
      }

      &__item {
        width: 100%;
      }

      &__row {
        padding-right: 1rem;
        justify-content: space-between;

        & .table-item {
          width: initial;
        }
      }

      &__btn {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .affiliate {
    &-search {
      &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      &__title, &__sub, &__search-container {
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
      }

      &__main .main-btn {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1rem;
      }

    }

    &-list {
      &__container {
        flex-direction: row;
        justify-content: flex-start;

        &.opened {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      &__item {
        margin-bottom: 1.5rem;
        margin-right: 1rem;
      }
    }
  }

  .affiliate-search__search-container {
    justify-content: center;
  }

  .affiliate-table {
    overflow: auto;
    padding-left: 0.3rem;

    &.opened {
      padding-left: 0;
    }
    &__row {
      min-width: 600px;
    }

    &__btn-container {
      width: 100%;
    }
  }

  .node.bug {
    transform: translateX(1%);
  }

  .binary {
    padding-top: 3rem;

    &.opened {
      padding-top: 3rem;
    }
    &__wrapper {
      padding-bottom: 10rem;
    }
  }

  .investReportChart {
    max-width: 750px;
    min-width: 750px;
  }

  .investReport-donut {
    margin-bottom: 3rem;
    &__main {
      height: 500px;
      //display: flex;
      //flex-direction: column;
      //overflow: initial;
      //height: auto;
    }

    &__container {
      //position: static;
      //transform: translateX(-77%) scale(0.8);
      left: initial;

      & .highcharts-label {
        //display: none;
      }
    }

    &__summ {
      //position: static;
      top: initial;
      right: initial;
      bottom: 0;
      max-width: 100%;
      max-height: initial;
      flex-direction: row;
      justify-content: space-around;
    }

    &__element {
      flex-direction: column;
      margin-right: 0;
      min-width: 100px;
    }

    &__header {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }

    &__icon {
      padding-top: 2rem;
    }
  }

  .donut-summary {
    &__btn {
      margin-right: 0;
      order: 2;
      margin-top: 0.5rem;
    }
  }

  .colied {
    margin-bottom: 3rem;
    &__wrapper {
      max-width: 100%;
      overflow: auto;
      top: 5rem;
      left: 0;
    }

    &__chart {
      width: 1000px;
    }
  }

  .profile__footer_empty {
    padding-top: 2rem;
  }

  .profile__form_lg {
    padding-right: 0;
  }



}



///* Extra Small Devices, Phones */
//@media only screen and (max-width : 480px)
//	/**/
//
//
///* Custom, iPhone Retina */
//@media only screen and (max-width : 320px)
//	/**/
//
//
///*==========  Mobile First  ==========*/
//
///* Custom, iPhone Retina */
//@media only screen and (min-width : 320px)
//	/**/
//
//
///* Extra Small Devices, Phones */
//@media only screen and (min-width : 480px)
//	/**/
//
//
///* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}




///* Medium Devices, Desktops */
//@media only screen and (min-width : 992px)
//	/**/
//
//
///* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
  .main-container.opened {
    max-width: 100%;
    min-width: 100%;
  }

  .aside-btn {
    margin-left: 14.3vw;
  }


  .page-main.opened {
    padding-left: 5%;
  }

  .header-info__main {
    justify-content: space-around;
  }


}


