@import "vars";

.about {


  &__container {
    padding-top: 3.5rem;
  }

  &__text {
    padding-left: 23rem;
    color: $mainAshes;
    font-weight: normal;
    max-width: 1198px;
    line-height: 34px;
    font-size: 16px;

    &_strong {
      font-weight: bold;
      color: $mainBlack;
    }

  }

  &-links {
    padding-top: 3.6rem;
    padding-left: 7.7rem;
    display: flex;
    align-items: center;

    &__title {
      font-size: 20px;
      padding-right: 6.3rem;
    }

    &__container {
      display: flex;
      align-items: center;
    }

    &__item {
      padding-right: 4.6rem;
    }
  }

  &-risk {
    display: flex;
    padding-top: 3.9rem;
    padding-left: 7.7rem;


    &__title {
      font-size: 20px;
      line-height: 27px;
      padding-right: 6.4rem;
    }

    &__text {
      color: $mainAshes;
      font-weight: normal;
      max-width: 828px;
      line-height: 33px;
      font-size: 16px;
    }

  }

}