@import "vars";

// Variables
$input_height: 36px;
$border_radius: 6px;
$gray_light: #eee;
$gray_lighter: #fff;

// Mixins
@mixin gradient($top_color, $bottom_color) {
  background-image: -webkit-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background-image: linear-gradient(to bottom, $top_color 0%, $bottom_color 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($top_color)}', endColorstr='#{ie-hex-str($bottom_color)}', GradientType=0); // IE9 and down
}

// Hide native dropdown
select {
  display: none;
}

// Styles
.dropdown {
  border-radius: $border_radius;
  border: solid 1px $mainGray;
  box-shadow: 0 1px 0 rgba(0,0,0,0.0075);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 10px;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  color: $mainAshes;
  &:focus {
  }
  &:hover {
  }
  &:active {
  }
  // Arrow
  &:after {
    height: 12px;
    width: 12px;
    background: center no-repeat url("../img/select-icon.svg");
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 32.5%;
    transform: translate3d(0, 0, 0);
  }
  &.open {

    .list {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }
    .option {
      cursor: pointer;
    }
  }
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  .list {
    min-width: 100%;
    box-sizing: border-box;
    transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
    transform: scale(.75);
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
    border-radius: $border_radius;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    z-index: 999;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: default;
    font-weight: 400;
    line-height: $input_height - 2;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    &:hover, &:focus {
    }
    &.selected {
      font-weight: 600;
    }
    &.selected:focus {
    }
  }
}

.dropdown.open {
  border-color: $mainBlue;
}




